body,p,td,th,div {
  font-family: "DejaVu Sans", Verdana, sans-serif;
  font-size:10pt;
}
body {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fff;
  color: #00e;
}

p { text-align:justify; }

a { text-decoration:none; }
a:link { color: #b00; }
a:visited { color: #f50; }
.list td a:link, .list td a:visited, #isbnsearch a:link, #isbnsearch a:visited, #booksearch a:link, #booksearch a:visited { color: #00e; }
.list td:hover a, #isbnsearch a:hover { color:#ffffff; }
.list td:hover, #isbnsearch a:hover { background-color:#4d9dfc; }
#isbnsearch a, #booksearch a {
  border: 1px solid #4d9dfc;
  padding-left: 2px;
  padding-right: 2px;
}
#booksearch a { background-color: #dff; }
#isbnsearch a { background-color: #ddd; }
#isbnsearch a:hover, #booksearch a:hover { border-color: yellow; }

.error { color: #f00; }

h1, div.updated, div.appsig, div.offers { text-align:center; }
h1 { font-size:110%; }
div.appsig { font-size:70%; }
div.updated, div.appsig { margin-top: 10px; }
div.offers { margin:1em; }
span.count { font-size:85%; }
img { border:0; vertical-align:middle; }

/* Fake-Cover */
.CoverBlank {
  position:relative;
  width:180px;
  height:280px;
  padding:10px;
  margin-right:15px;
  margin-left:5px;
  text-align:center;
  float:left;
  background:#dedede;
/*  cursor:pointer;display:block; */
}
.CoverBlank .innerBorder {
  float:left;
  width:176px;
  height:276px;
  border:1px solid #fff;
}
.CoverBlank a {text-decoration: none;}
.CoverBlank .BookTitle {
  position:absolute;
  top:50%;left:50%;
  width:160px;margin-left:-85px;
  height:200px;
  margin-top:-100px;
  font-size: 14px;
  font-weight: bold;
  color:#333;
}
.CoverBlank .Author {
  color:#666;
  font-style:italic;
  padding:8px 4px 0;
  font-size:12px;
  font-weight: normal;
  position:absolute;
  bottom: 0;
  width:100%;
}

#bookdesc {
  background-color:#ffc;
  color:#00a;
  padding:.3em 1em;
  margin-right:1em;
  box-shadow: 0 0 20px rgba(222,222,222,.95);
}

/* Adjustments for mobile devices in portait mode */
@media (max-width: 800px) {
  #booktable tr { display:inline; }
  #booktable .bookcover { display:table; margin-left:auto; margin-right:auto; }
  #booktable td p.buttons { line-height: 1.7em; }
  #bookdesc { padding:.15em .5em; margin-right:.5em; }
  #isbnsearch a, #booksearch a { padding-left:4px; padding-right:4px; }
}
